@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --color-menu:#2174d4;
    --background: #97bdf5;
    --subbackground:#cadffb; 
    --title-color: black;
    --letter-color: white;
    --title: "Instrument Serif", serif;
    --letter: "Libre Baskerville", serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fondo{
    background:var(--subbackground);

}
.heades{
  width: 100%;
}
.main__header{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.imagen__back{
  width: 35px;
  height: 35px;
}

.header__subtitle{
  font-family: var(--title);
  color: #064083;
  font-size: 25px;
  text-align: center;
}

.imagen__car{
  display: flex;
  justify-content: flex-end;
  width: 40px;
  height: 40px;
  justify-self: end;
}

.image__producto{
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
  align-content: center;
  padding: 12px;
}

.name__producto{
  font-family: var(--title0);
  font-size: 25px;
  text-align: center;
  color: #064083;
}
.price{
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 100px;
}
.price__producto{
  font-family: var(--title);
  font-size: 20px;
  color: black;
  text-align: center;
}

.descriptio__producto{
  text-align: justify;
  padding: 12px;
}

.choose{
  display:inline-flex;
  width: 30px;
  height: 30px;
  justify-content: center;
  
}

.choose__size{
  padding: 20px;
  text-align: center;
}
.add__car{
  text-decoration: none;
  color: black;
  padding: 10px;
  font-weight: bold;
}
.agregar{
  background-color: #2174d4;
  border: 1px solid white;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}