@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --color-menu:#2174d4;
    --background: #97bdf5;
    --subbackground:#cadffb; 
    --title-color: black;
    --letter-color: white;
    --title: "Instrument Serif", serif;
    --letter: "Libre Baskerville", serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fond{
    background:var(--subbackground);

}
/* Encabezado*/
.encabezado__div{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap:20px;
    padding: 10px 20px;
    align-items: center;
}
/*Menú de opciones por categorìas */

/*Buscador*/
.encabezado__buscador{
    position: relative;
    display: flex;
    align-items: center;
}
.chequear{
    display: none;
}
.label{
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
}
.imagen__lupa{
    width: 30px;
    height: 30px;
}
.chequear__input{
    width:0;
    opacity: 0;
    transition: all 0.5s ease;
    position: absolute;
    left: 30px;
    border:none;
    outline: none;
    padding: 0;
}

.chequear:checked + .label + .chequear__input{
    width: 200px;
    opacity: 1;
    padding: 1px;
    border: 1px solid var(--color-menu);
}
/*Catàlogo*/
.product__seccion{
    font-family: var(--title);
    color: var(--color-menu);
    font-size: 28px;
    text-align: center;
    padding-top: 15px;
}
/*Menú lateral */
.lateral__catag{
    position: relative;
    display: inline-block;
}
.seleccion__boton{
    background: white;
    color: var(--color-menu);
    cursor: pointer;
    padding: 2px;
    border: 1px solid blue;
    text-align: left;
}
.lista__seleccion{
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    box-shadow: 0px 8px 16px gray;
    z-index: 1;
    min-width: 100px;
}

.lista__selecccion li a{
    color: black;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
}
.lista__selecccion li a:hover{
    background-color: #2174d4;
}

.lateral__catag:hover .lista__selecccion{
    display: block;
}


/*Productos del catágolo*/

.seccion__productos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    align-items: center;
    padding: 10px 15px;

}


.producto{
    display: inline-block;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid var(--color-menu);
    border-radius: 12px;
    padding: 10px 14px;
    gap: 13px;
}
.producto img {
    width: 70px;
    height: 70px;
    object-fit: cover; 
    margin-bottom: 10px;
}