@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --color-menu:#2174d4;
    --background: #97bdf5;
    --subbackground:#cadffb; 
    --title-color: black;
    --letter-color: white;
    --title: "Instrument Serif", serif;
    --letter: "Libre Baskerville", serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fond{
    background:var(--subbackground);

}
/* Encabezado*/
.encabezado__div{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap:20px;
    padding: 10px 20px;
    align-items: center;
}
/*Menú de opciones por categorìas */

/*Buscador*/
.encabezado__buscador{
    position: relative;
    display: flex;
    align-items: center;
}
.chequear{
    display: none;
}
.label{
    font-size: 30px;
    cursor: pointer;
    z-index: 2;
}
.imagen__lupa{
    width: 30px;
    height: 30px;
}
.chequear__input{
    width:0;
    opacity: 0;
    transition: all 0.5s ease;
    position: absolute;
    left: 30px;
    border:none;
    outline: none;
    padding: 0;
}

.chequear:checked + .label + .chequear__input{
    width: 200px;
    opacity: 1;
    padding: 1px;
    border: 1px solid var(--color-menu);
}