@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --color-menu:#2174d4;
    --background: #97bdf5;
    --subbackground:#cadffb; 
    --title-color: black;
    --letter-color: white;
    --title: "Instrument Serif", serif;
    --letter: "Libre Baskerville", serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fondo{
    background:var(--background);
}


.header__image{
    width: 30px;
    height: 30px;
    padding-top: 20px;
    padding-left: 15px;
}
.header__text{
    text-align: center;
    padding:12px;
}
.header__tittle{
    font-family: var(--title);
    color: var(--color-menu);
    font-size: 40px;
    padding: 10px;
    text-align: center;
}
.document input{
    display: block;
    margin: 10px;
}
.document label{
    margin: 10px;
    font-family: var(--title);
    font-size: 20px;
}
.metodo__tittle{
    color: #2174d4;
    font-family:var(--title);
    font-size: 25px;
    text-align: center;
}
.icono{
    width: 45px;
    height: 45px;
}
.seccion__div{
    background-color: rgba(221, 202, 170, 0.89);
    border: 1px solid seashell;
    border-radius: 15px;
    width: 115px;
    margin: 5px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    box-shadow: #2174d4 10px 10px 5px 0px;
}

.headers{
    display: inline-block;
    align-items: center;
    justify-items: center;
}

.resumne{
    color: black;
    font-family: var(--title);
    font-size: 30px;
}

.img{
    height: 40px;
    width: 40px;
}