@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --color-menu:#2174d4;
    --background: #97bdf5;
    --subbackground:#cadffb; 
    --title-color: black;
    --letter-color: white;
    --title: "Instrument Serif", serif;
    --letter: "Libre Baskerville", serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fondo{
    background:#CCFFCC;

}

.main__tittle{
    font-family: var(--title);
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}
.perfil{
    width: 150px;
    height: 150px;
    border-radius: 85px;
    box-shadow: 10px 10px 5px 0px gray;
}
.main__perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:25px;
}

.main__name{
    font-family: var(--title);
    font-size: 30px;
    color: #2174d4;
}
.main__email{
    font-family: var(--title);
    font-size: 20px;
    color:rgb(114, 112, 112)
}
.main__informtion{
    display: block;
    text-align: center;
}
.imagen{
    width:30px;
    height: 30px;
}
.name{
    font-family: var(--title);
    font-size: 15px;
    text-align: center;
    vertical-align: middle;
}

.pedido{
    border: 1px solid var(--subbackground);
    background-color: antiquewhite;
    border-radius: 30px;
    width: 200px;
    justify-items: center;
    align-content: center;
    margin: 1px;
}
.seccion__pedido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.img{
    width: 40px;
    height: 40px;
}


.seccion__submenu{
    border: 1px solid green;
    background-color: #9ad897b6;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    padding: 5px 0px;
    position: fixed;
    bottom: 0;
    width: 100%;

   
}

.link{
    padding-top: 50px;
    text-decoration: none;
    margin: 15px;  
}

@media (min-width:800px){
    .fondo{
        background-color: var(--subbackground);
    }
    .imagen{
        width:80px;
        height: 80px;
        object-fit: cover;
    }
    .name{
        font-size: 30px;
    }
    .pedido{
        margin: 10px;
    }
    .seccion__pedido{
        display: flex;
        flex-direction: row;
    }
    .seccion__submenu{
        display: flex;
        flex-direction: row;
    }
    .seccion__submenu{
        border: 1px solid var(--color-menu);
        background-color: #97bdf5;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        text-align: center;
        padding: 5px 0px;
        position: relative;
        position: fixed;
        width: 100%;
    }
}