
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&display=swap');

:root{
    --color-menu:#2174d4;
    --background: #97bdf5;
    --subbackground:#cadffb; 
    --title-color: black;
    --letter-color: white;
    --title: "Instrument Serif", serif;
    --letter: "Libre Baskerville", serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fondo{
    background:var(--subbackground);

}
/*Menu*/
.word{
    color: var(--background);
    font-weight: bold;
    font-size: 20px;
}
.header{
    display: flex;
    flex-direction: row;
}
/*Menu despegable*/
.barra__menu{
    display: none;
}

.bar__menu{
    font-size: 30px;
    user-select: none;
    cursor: pointer;
}
.opciones{
    display:none;
    position: absolute;
    background-color: var(--color-menu);
    list-style: none;
    padding: 30px;
    border: 12px solid var(--color-menu);
}
.opciones li a {
    text-decoration: none;
    display: block;
    padding: 8px 15px;
    
}

.menu__link{
    color: var(--letter-color);
    font-family: var(--letter);
}

.opciones li a:hover{
    background-color: #def7ff;
    color: black;
}
.barra__menu:checked ~ .opciones {
    display:block;
}

.imagen__barra{
    height: 25px;
    width: 25px;
    padding-left: 5px;
}

/*Submenu despegable*/

.menu__link{
    flex: 1;
    justify-content: flex-start;
}

.submenu__link{
    text-decoration: none;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

#submenu__lin:hover{
    color: var(--color-menu);
    background-color: white;
}
.subopciones__menu{
    list-style-type:none;
    padding-left: 30px;
}

/*Logo*/
.header__logo {
    flex: 1;
    justify-content: center;
    align-items: center;
}

#menuimagen__logo {
    width: auto;
    height: 1em;
    align-content: center;
}
.header__logo{
    justify-content: center;
    display: flex;
    align-items: center;

}

.menubrand__name{
    font-family: var(--title);
    font-size: 15px;
}

/*Carrito de compra*/
.menu__carrito{
    flex: 1;
    justify-content: flex-end;
    padding-top: 10px;
    display: flex;
    padding-right: 12px;
}

.imagen__carrito{
    width: 30px;
    height: 30px;
}

/*Buscador*/

.buscar{
    display: flex;
    justify-content: center;
    height: 40px;
}
/*Titulo de sección*/

.main__tittle{
    padding: 6px;
    font-family: var(--title);
    font-size: 25px;
    text-align: center;
}

/*Seccion de bannner*/
.principal{
    display: inline-block;
    padding: 7px;
    justify-content: center;
    width: 100%;
}
.seccion__fist{
    width: 40px;
    height: 40px;
    justify-content: center;
    padding-left: 5px;
}
.main__seccion{
    display: inline-block;
    border: 2px solid var(--letter-color);
    background: #2174d4;
    padding: 12px;
    border-radius: 28px;
    min-width: 80px;
    width: auto;
}
.contenido__seccion{
    text-align: center;
    width: 100%;
}
.main__seccion img{
    display: block;
    margin: 0 auto 5px auto;
}
.text__fist{
    color: white;
    text-align: center;
}

/*Sección de las novedades del mes*/
.seccion__novedad{
    border: 2px solid var(--color-menu);
    border-radius: 12px;
    display: inline-block;
    padding: 10px;
    width: 140px;
    margin: 4px;
    
}
/*Sección de imagenes*/
.seccion__imagen{
    width: 80px;
    height: 80px;   
}

/*Secciòn Novedad*/

.title__novedad{
    font-family: var(--title);
    font-size: 23px;
    text-align: center;
    padding: 15px;
}
.seccion{
    text-align: center;
    width: 100%;
}

.seccion img {
    display:block;
    margin: 0px auto 5px auto;
}

/*Sección de nombre y precio*/
.seccion__name {
    font-family: var(--title);
}
.seccion__price{
    font-family: var(--title);
}
@media(min-width:800px) and (max-width:1280px){
    .fondo{
        background-color: #CCFFCC;
    }
    .imagen__carrito{
    width: 45px;
    height: 45px;
}
    .menubrand__name{
        font-size: 60px;
    }
    #menuimagen__logo {
    width: auto;
    height: 3em;
    align-content: center;
}
    .imagen__barra{
        width: 40px;
        height: 35px;
        margin: 12px;
    }
    .main__seccion{
        background: green;
        width: 200px;
        height: 150px;
    }
   
    .seccion__fist{
        width: 80px;
        height: 80px;
    }
    .text__fist{
        font-size: 40px;
    }
    .main__tittle{
        font-size: 40px;
    }
    .title__novedad{
        font-size: 30px;
    }
    .seccion__novedad{
        border: 1px solid rgb(6, 83, 6);
        background-color: rgba(5, 121, 5, 0.596);
        width: 300px;
        height: 200px;
    }
    .seccion__imagen{
        width: 200px;
        height: 130px;
    }
    .seccion__name{
        font-size: 25px;
        color: rgb(0, 0, 0);
    }
    .seccion__price{
        font-size:20px ;
        color: rgb(2, 27, 3);
    }

}
